{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Password reset{% endblock title %}

{% block content %}
<div class="col-md-6 offset-md-3 dark_div item">
    <form method="post" novalidate>
        {% csrf_token %}

        <div class="col-md-12">
            <div style=" width: 350px; max-width: 350px;">
                {# Title #}
                <span class="simple_text dark_text">
                    Enter your e-mail and we’ll send you a link to reset your password 
                </span>
                <div class="form_input" style="margin-top: 20px;">
                    {{ form.email }}
                </div>
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="" style="color: #ee3030; font-size: 14px; margin-top: 10px;">
                            <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                            <em>{{ error }}</em>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="col-md-12" style="margin-top: 20px; color: #ee3030; font-size: 14px;">
                    <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                    <em>{{ error }}</em>
                </div>
            {% endfor %}
        {% endif %}

        <div class="col-md-12" style="margin-top: 30px;">
            <input class="submit_button" type="submit" value="Send">
        </div>
    </form>
</div>
{% endblock content %}
