<footer>
    <div class="container">
        <div class="row">
            {# Home page link #}
            <div class="col-md-2">
                <a href="{% url 'post:all' %}">
                    All posts in a row
                </a>
            </div>

            {# Logo (home page link) #}
            <div class="col-md-2 offset-md-8">
                {% if user.is_authenticated %}
                    <a href="{% url 'user:detail' user.pk %}">{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>