{% load static %}

<header>
    <div class="container">
        <div class="row">
            {# Logo #}
            <div class="col-md-2">
                <a href="{% url 'post:all' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" width="60px" height="60px">
                </a>
            </div>

            {# User login, dropdown menu and image #}
            {% if user.is_authenticated %}
                <div class="col-md-3 offset-md-7">
                    <div class="row">
                        {# User login and dropdown menu #}
                        <div class="col-md-7 user_login">
                            <img id="user_dropdown_menu_arrow" src="{% static 'images/dropdown_menu_arrow.svg' %}" alt="Dropdown menu arrow">

                            <span>{{ user.username|truncatechars:10 }}</span>

                            <div id="user_dropdown_menu" class="dark_div">
                                <div>
                                    <p><a href="{% url 'user:detail' user.pk %}">My profile</a></p>

                                    <p><a href="{% url 'post:create' %}">Create post</a></p>

                                    <p><a href="{% url 'accounts:password_change' %}">Change password</a></p>

                                    <p><a href="{% url 'accounts:logout' %}">Logout</a></p>
                                </div>
                            </div>
                        </div>

                        {# User avatar #}
                        <div class="col-md-5">
                            <a href="{% url 'user:detail' user.pk %}">
                                {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}" width="40px" height="40px">
                                {% else %}
                                    <img src="{% static 'images/default_avatar.png' %}" width="40px" height="40px">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-1 offset-md-8">
                    <a href="{% url 'accounts:signup' %}">Signup</a>
                </div>

                <div class="col-md-1">
                    <a href="{% url 'accounts:login' %}">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>
