{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Password change{% endblock title %}

{% block content %}
<div class="col-md-6 offset-md-3 dark_div item">
    <form method="post" novalidate>
        {% csrf_token %}

        <div class="col-md-12" style="margin-top: 30px;">
            <div style=" width: 350px; max-width: 350px;">
                <span class="simple_text dark_text">
                    Old password
                </span>
                <div class="form_input" style="margin-top: 8px;">
                    {{ form.old_password }}
                </div>
                {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                        <div class="" style="color: #ee3030; font-size: 14px; margin-top: 10px;">
                            <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                            <em>{{ error }}</em>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 30px;">
            <div style=" width: 350px; max-width: 350px;">
                <span class="simple_text dark_text">
                    New password
                </span>
                <div class="form_input" style="margin-top: 8px;">
                    {{ form.new_password1 }}
                </div>
                {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <div class="" style="color: #ee3030; font-size: 14px; margin-top: 10px;">
                            <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                            <em>{{ error }}</em>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 30px;">
            <div style=" width: 350px; max-width: 350px;">
                <span class="simple_text dark_text">
                    New password 2
                </span>
                <div class="form_input" style="margin-top: 8px;">
                    {{ form.new_password2 }}
                </div>
                {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <div class="" style="color: #ee3030; font-size: 14px; margin-top: 10px;">
                            <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                            <em>{{ error }}</em>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="col-md-12" style="margin-top: 20px; color: #ee3030; font-size: 14px;">
                    <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                    <em>{{ error }}</em>
                </div>
            {% endfor %}
        {% endif %}

        <div class="col-md-12" style="margin-top: 30px;">
            <input class="submit_button" type="submit" value="Login">
        </div>
    </form>
</div>
{% endblock content %}
