{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Password change{% endblock title %}

{% block content %}
<div class="col-md-6 offset-md-3 dark_div item">
    <form method="post" novalidate>
        {% csrf_token %}

        {% include 'for_including/field.html' with FIELD_TITLE='Old password' FIELD=form.old_password %}

        <div class="not_first_form_field">
            {% include 'for_including/field.html' with FIELD_TITLE='New password' FIELD=form.new_password1 %}
        </div>

        <div class="not_first_form_field">
            {% include 'for_including/field.html' with FIELD_TITLE='New password confirmation' FIELD=form.new_password2 %}
        </div>

        {% include 'for_including/form_errors.html' with FORM=form %}

        {% include 'for_including/submit_button.html' %}
    </form>
</div>
{% endblock content %}
