{% extends 'layouts/base.html' %}

{% block title %}Signup{% endblock title %}

{% block content %}
    <div class="col-md-6 offset-md-3 dark_div">
        <form method="post" novalidate>
            {% csrf_token %}

            {% include 'for_including/field.html' with FIELD_TITLE='Login' FIELD=form.username %}

            <div class="not_first_form_field">
                {% include 'for_including/field.html' with FIELD_TITLE='Password' FIELD=form.password1 %}
            </div>

            <div class="not_first_form_field">
                {% include 'for_including/field.html' with FIELD_TITLE='Password confirmation' FIELD=form.password2 %}
            </div>

            {% include 'for_including/errors/form_errors.html' with FORM=form %}

            {% include 'for_including/submit_button.html' %}
        </form>
    </div>
{% endblock content %}
