{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
    <div class="col-md-6 offset-md-3 dark_div item">
        <form method="post" novalidate>
            {% csrf_token %}

            {# Login #}
            <div class="col-md-12">
                <span class="simple_text dark_text">
                    Login
                </span>

                <div class="form_input" style="margin-top: 8px;">
                    {{ form.username }}
                </div>

                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div class="" style="color: #ee3030; font-size: 14px; margin-top: 10px;">
                            <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                            <em>{{ error }}</em>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {# Password 1 #}
            <div class="col-md-12" style="margin-top: 30px;">
                <span class="simple_text dark_text">
                    Password
                </span>

                <div class="form_input" style="margin-top: 8px;">
                    {{ form.password1 }}
                </div>

                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <div class="" style="color: #ee3030; font-size: 14px; margin-top: 10px;">
                            <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                            <em>{{ error }}</em>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {# Password 2 #}
            <div class="col-md-12" style="margin-top: 30px;">
                <span class="simple_text dark_text">
                    Password confirmation
                </span>

                <div class="form_input" style="margin-top: 8px;">
                    {{ form.password2 }}
                </div>

                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <div class="" style="color: #ee3030; font-size: 14px; margin-top: 10px;">
                            <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                            <em>{{ error }}</em>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="col-md-12" style="margin-top: 20px; color: #ee3030; font-size: 14px;">
                        <img src="{% static 'images/error.svg' %}" width="12px" height="12px">
                        <em>{{ error }}</em>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="col-md-12" style="margin-top: 30px;">
                <input class="submit_button" type="submit" value="Signup">
            </div>
        </form>
    </div>
{% endblock content %}
