{% load static %}

<header>
    <div class="container">
        <div class="row">
            {# Logo #}
            <div class="col-md-2">
                <a href="{% url 'post:all_posts' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" width="60px" height="60px">
                </a>
            </div>

            {% if user.is_authenticated %}
                {# User login, dropdown menu and image #}
                <div class="col-md-2 offset-md-8">
                    <div class="row user_info">
                        {# User login and dropdown menu #}
                        <div class="col-md-6 user_login">
                            <img id="user_dropdown_menu_arrow" src="{% static 'images/dropdown_menu_arrow.svg' %}" alt="Dropdown menu arrow">

                            <span>{{ user.username|truncatechars:10 }}</span>

                            <div id="user_dropdown_menu" class="dark_div">
                                <div>
                                    <p><a href="#">Мой профиль</a></p>

                                    <p><a href="#">Сменить пароль</a></p>

                                    <p><a href="#">Выход</a></p>
                                </div>
                            </div>
                        </div>

                        {# User image #}
                        <div class="col-md-6">
                            <a href="#">
                                {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}">
                                {% else %}
                                    <img src="{% static 'images/default_avatar.png' %}" width="40px" height="40px">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-2 offset-md-8" style="text-align: right;">
                    <a href="{% url 'accounts:login' %}">Войти</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>
