{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}All publications in a row{% endblock title %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            {% ifequal post.status 'publish'  %}
                {% include 'for_including/post.html' with CONTENT=post.content|truncatechars:250 IS_LINK=True %}
            {% endifequal %}
        {% endfor %}
    {% else %}
        {% include 'for_including/success.html' with TEXT="There is not a single post yet" %}
    {% endif %}

    {% if user.is_authenticated %}
        <script>
            $.getScript("{% static 'js/estimation.js' %}");
        </script>
    {% endif %}
{% endblock content %}
