{% extends 'layouts/base.html' %}

{% block title %}Post creation{% endblock title %}

{% block content %}
    <div class="col-md-8 offset-md-2 dark_div">
        <form method="post" novalidate>
            {% csrf_token %}

            {% include 'for_including/field.html' with FIELD_TITLE='Title' FIELD=form.title %}

            <div class="not_first_form_field">
                {% include 'for_including/field.html' with FIELD_TITLE='Content' FIELD=form.content %}
            </div>

            <div class="not_first_form_field">
                {% include 'for_including/field.html' with FIELD_TITLE='Status' FIELD=form.status %}
            </div>

            <input type="hidden" name="author" value="{{ user.id }}">

            {% include 'for_including/errors/form_errors.html' with FORM=form %}

            <div class="col-md-12 submit_button_div">
                <input class="submit_button" type="submit" value="Create">
            </div>
        </form>
    </div>
{% endblock content %}
