{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{{ post.title|truncatechars:50 }}{% endblock title %}

{% block content %}
    <div class="col-md-8 offset-md-2 dark_div item">
        {# Author and post's date #}
        <div class="post_top_info">
            <span><a href="#">{{ post.author }}</a></span>

            <span class="post_published_time">
                {{ post.published_time }}
            </span>
        </div>

        {# Title #}
        <h2>{{ post.title }}</h2>

        {# Content #}
        <div class="post_content">
            <p>{{ post.content|linebreaks }}</ps>
        </div>

        <div class="post_estimation">
            {# Likes #}
            <img src="{% static 'images/like.png' %}" alt="Like" width="40px" height="40px"  class="image_link post_like" post_id="{{ post.id }}">
            <span class="post_like_amount" post_id="{{ post.id }}">
                {{ post.likes }}
            </span>

            {# Dislikes #}
            <img src="{% static 'images/dislike.png' %}" alt="Dislike" width="40px" height="40px" class="image_link post_dislike" post_id="{{ post.id }}"> 
            <span class="post_dislike_amount" post_id="{{ post.id }}">
                {{ post.dislikes }}
            </span>
        </div>
    </div>

    <script>
        {% if user.is_authenticated %}
            $(function(){
                $('.image_link').each(function(){
                    const postId = $(this).attr('post_id');

                    let formData = new FormData();

                    formData.append('post_id', postId);
                    formData.append('user_id', "{{ user.id }}");

                    $.ajax({
                        url: "/post/check_estimation/",
                        type: 'POST',
                        dataType: "json",
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (data) {
                            if (data.is_user_liked_this_post){
                                $(`.post_like_amount[post_id="${postId}"]`).addClass('post_liked');
                            }

                            if (data.is_user_disliked_this_post){
                                $(`.post_dislike_amount[post_id="${postId}"]`).addClass('post_disliked');
                            }
                        }
                    })
                })
            });

            $('.post_like').on('click', function(){
                const postId = $(this).attr('post_id');

                let formData = new FormData();

                formData.append('post_id', postId);
                formData.append('user_id', "{{ user.id }}");

                $.ajax({
                    url: "/post/like/",
                    type: 'POST',
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        $(`.post_like_amount[post_id=${postId}]`).text(data.likes);
                        $(`.post_dislike_amount[post_id=${postId}]`).text(data.dislikes);

                        if (data.is_user_liked_this_post){
                            $(`.post_like_amount[post_id="${postId}"]`).addClass('post_liked');
                            $(`.post_dislike_amount[post_id="${postId}"]`).removeClass('post_disliked');
                        }
                        else{
                            $(`.post_like_amount[post_id="${postId}"]`).removeClass('post_liked');
                        }
                    }
                })
            })

            $('.post_dislike').on('click', function(){
                const postId = $(this).attr('post_id');

                let formData = new FormData();

                formData.append('post_id', postId);
                formData.append('user_id', "{{ user.id }}");

                $.ajax({
                    url: "/post/dislike/",
                    type: 'POST',
                    dataType: "json",
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        $(`.post_dislike_amount[post_id=${postId}]`).text(data.dislikes);
                        $(`.post_like_amount[post_id=${postId}]`).text(data.likes);

                        if (data.is_user_disliked_this_post){
                            $(`.post_like_amount[post_id="${postId}"]`).removeClass('post_liked');
                            $(`.post_dislike_amount[post_id="${postId}"]`).addClass('post_disliked');
                        }
                        else{
                            $(`.post_dislike_amount[post_id="${postId}"]`).removeClass('post_disliked');
                        }
                    }
                })
            })
        {% endif %}
    </script>
{% endblock content %}
