// Header

header {
    border-bottom: 5px solid rgba(143,0,151,255);
    padding-top: 5px;
    position: fixed;
    width: 100%;
    background-color: #191F22 !important;
    z-index: 2;

    & > input {
        color: rgba(255, 255, 255, 0.5);
        font-style: italic;
        background-color: #191F22 !important;
    }

    & > .container > div {
        margin-top: 21px;
        margin-bottom: 21px;
        align-items: center;
    }
}

// User

.user_login {
    display: flex;
    align-items: center;
    justify-content: right;

    & > img {
        margin-right: 10px;
    }
}

#user_dropdown_menu {
    border-radius: 7px;
    width: 240px;
    position: absolute;
    right: -63px;
    top: 54px;
    display: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

    & > div {
        margin: 30px 25px;
        text-align: right;

        & > p > a {
            font-size: 18px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &_arrow:hover{
        cursor: pointer;
    }
}

.dark_div {
    background-color: #21282C;
}

.base_container {
    padding-top: 180px;
}

span, h1, h2, h3, h4, h5, h6{
    color: #FFF;
}

body{
    background-color: #191F22 !important;
}

a{
    color: rgba(143,0,151,255) !important;
}

.image_link:hover{
    text-decoration: none;
    cursor: pointer;
}

p{
    color: #FFF;
}

.item{
    margin-bottom: 40px;
    padding: 40px !important;
    border-radius: 4px;
}

// Post

.post{
    &_top_info{
        margin-bottom: 10px;
    }

    &_content{
        font-size: 1rem;
        line-height: 1.56;
        overflow-wrap: break-word;
    }

    &_published_time{
        font-size: .8125rem;
    }

    &_estimation{
        margin-top: 40px;
    }

    &_liked{
        color: rgb(80, 207, 80);
    }

    &_disliked{
        color: rgb(231, 71, 71);
    }

    &_dislike{
        margin-left: 20px;
    }
}

*::selection{
    background-color: #8f0097;
}

// Form

textarea, input, select{
    background-color: #191F22;
    color: #FFF;
    outline: none;
    border: 1px solid rgba(20, 20, 20, 0.5);
}

input{
    border-radius: 4px;
    font-style: italic;
    padding: 5px 15px;
    line-height: 27px;
    width: 100%;
}

select{
    padding: 10px;
}

textarea{
    resize: none !important;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.submit_button{
    background-color: #15C6B9;
    color: #FFF;
    width: 190px;
    height: 41px;
    border-radius: 4px;
    border: 0px;

    &:hover{
        background-color: #8f0097;
    }
}

.form_button2{
    background-color: #8f0097;
    color: #FFF !important;
    width: 100%;
    height: 41px;
    border-radius: 4px;
    border: 0px;
    
    &:hover{
        cursor: pointer;
        text-decoration: none;
        color: #FFF !important;
        background-color: #15C6B9;
    }
}
