$purple: #8f0097;
$dark: #191F22;
$white: #FFF;

*::selection{
    background-color: $purple;
}

body{
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    background-color: $dark !important;
}

footer{
    margin-top: auto; 
    border-top: 5px solid $purple;
    padding: 20px;
}

.base_container {
    padding-top: 180px;
}

a{
    color: $purple !important;
}

p, span, h1, h2, h3, h4, h5, h6{
    color: $white;
}

// Header

header {
    border-bottom: 5px solid $purple;
    position: fixed;
    width: 100%;
    background-color: $dark !important;
    z-index: 2;

    & > .container > div {
        margin: 20px 0;
        align-items: center;
    }
}

// User

.user_login {
    display: flex;
    align-items: center;

    & > img {
        margin-right: 10px;
    }
}

#user_dropdown_menu {
    border-radius: 7px;
    width: 240px;
    position: absolute;
    right: -63px;
    top: 54px;
    display: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

    & > div {
        text-align: right;

        & > p > a {
            font-size: 18px;
        }
    }

    &_arrow:hover{
        cursor: pointer;
    }
}

// Post

.post{
    &_top_info{
        margin-bottom: 10px;
    }

    &_published_time{
        font-size: .8125rem;
    }

    &_estimation{
        margin-top: 40px;
    }

    &_liked{
        color: rgb(80, 207, 80);
    }

    &_disliked{
        color: rgb(231, 71, 71);
    }

    &_dislike{
        margin-left: 20px;
    }
}

.user_post_title{
    padding: 10px 40px;
}

// Form

textarea, input, select{
    background-color: $dark;
    color: $white;
    outline: none;
    border: 1px solid rgba(20, 20, 20, 0.5);
}

textarea{
    resize: none !important;
    padding: 15px;
    width: 100%;
    height: 100%;
}

input{
    border-radius: 4px;
    font-style: italic;
    padding: 5px 15px;
    width: 100%;
}

select{
    padding: 10px;
}

.form_input{
    margin-top: 20px;
}

.not_first_form_field{
    margin-top: 20px;
}

.submit_button, .form_button2{
    height: 40px;
    border: 0px;
    text-align: center
}

.submit_button{
    background-color: #15C6B9;
    width: 190px;

    &:hover{
        background-color: $purple;
    }

    &_div{
        margin-top: 30px;
    }
}

.form_button2, .dark_div{
    border-radius: 4px;
}

.form_button2{
    background-color: $purple;
    color: $white !important;
    width: 100%;

    &:hover{
        cursor: pointer;
        text-decoration: none;
        background-color: #15C6B9;
    }

    & > div{
        margin-top: 8.5px;
    }
}

.error{
    color: #ee3030;
    font-size: 14px;
    margin-top: 20px;
}

// Other

.dark_div {
    background-color: #21282C;
    padding: 40px !important;
    margin-bottom: 30px;
}

.image_link:hover{
    text-decoration: none;
    cursor: pointer;
}
