{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}{{ user.username }}{% endblock title %}

{% block content %}
    {# Username #}
    <div class="col-md-8 offset-md-2 dark_div">
        <h2>{{ detail_user.username }}</h2>
        <span>Date of registration: {{ user.date_joined|date:"d.m.Y" }}</span>
    </div>

    {# User's posts #}
    {% if posts %}
        <div class="col-md-8 offset-md-2 user_post_title">
            <h2>My posts</h2>
        </div>

        {% for post in posts %}
            {% include 'for_including/post.html' with CONTENT=post.content|truncatechars:250 IS_LINK=True %}
        {% endfor %}
    {% endif %}

    {# User's drafts #}
    {% if drafts %}
        <div class="col-md-8 offset-md-2 user_post_title">
            <h2>My drafts</h2>
        </div>

        {% for draft in drafts %}
            {% include 'for_including/post.html' with CONTENT=draft.content|truncatechars:250 IS_LINK=True %}
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <script>
            $.getScript("{% static 'js/estimation.js' %}");
        </script>
    {% endif %}
{% endblock content %}
